@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  label {
    @apply sr-only mb-2 text-lg font-semibold text-gray-700;
  }

  input {
    @apply rounded border py-2 px-3 text-gray-700;
  }
}
